.slider-7 {
    width: 1111px;
    display: table;
    margin: 79px auto;
}

#sliderProductNavigate {
    display: block;
    width: 912px;
    float: right;
    overflow: hidden;
    position: relative;
    height: 301px;
}

#sliderProductNavigate .slider-container {
    display: table;
    transition: 1s all ease;
    padding-left: 0px;
    position: absolute;
    left: 0px;
    height: 100%;
}

#sliderProductNavigate ._slider-additional-navigation {}

#sliderProductNavigate ._slider-additional-navigation {
    width: 100%;
    z-index: 9;
}

#sliderProductNavigate ._slider-additional-navigation a {
    color: #13274C;
    text-decoration: none;
    font-size: 25px;
    width: 41px;
    height: 33px;
    text-align: center;
    line-height: 1.3;
    opacity: .5;
    margin-top: 130px;
    border-radius: 5px;
    background-color: #fff;
    font-weight: 800;
    transition: .5s all ease;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.47);
}

#sliderProductNavigate ._slider-additional-navigation a:hover {
    opacity: 1;
}

#sliderProductNavigate ._slider-additional-navigation ._btn-prev {
    float: left;
}

#sliderProductNavigate ._slider-additional-navigation ._btn-next {
    float: right;
}

#sliderProductNavigate .slider-item {
    width: min-content;
    height: min-content;
    float: left;
    cursor: pointer;
    position: relative;
    margin: 0px 6px;
}

#sliderProductNavigate .slider-item:hover:after {
    opacity: 1;
}

#sliderProductNavigate .slider-item:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), #13274C);
    z-index: 0;
    opacity: 0;
    transition: .2s all ease-in;
}

#sliderProductNavigate .slider-item img {
    width: 216px;
    height: 301px;
    object-fit: cover;
}

#sliderProductNavigate .slider-item:hover .slider-text-container {
    opacity: 1;
}

#sliderProductNavigate .slider-item .slider-text-container {
    position: absolute;
    bottom: 0px;
    z-index: 1;
    color: #fff;
    opacity: 0;
    width: 100%;
}

#sliderProductNavigate .slider-item .slider-text-container h4 {
    padding: 10px;
    margin: 0px;
    text-align: center;
}